/vendor
/node_modules
.env
.env.backup
.env.production
.DS_Store
homestead.json
homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
*.sql
*.sql.gz
*.cache
*.log
*.sqlite
*.sqlite3
/storage/*.key
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*.log
/public/storage
/public/hot
/public/storage
/storage/*.key
.env.*.local
.phpunit.result.cache
/.phpunit.cache
composer.lock
package-lock.json
yarn.lock
/.dockerignore
/auth.json
/.github
/phpunit.xml
